body {
    font-family: 'Open Sans', sans-serif;
    font-size: 16px;
    font-weight: 300;
    color: #888;
    line-height: 30px;
    text-align: center;
}

* {
	margin:  0;
	padding: 0;
  }

img { max-width: 100%; }

strong { font-weight: 600; }

a, a:focus { color: #ffbf69; text-decoration: none; transition: all .3s; }

a:hover {
	color: #ff9f1c;
	text-decoration: none;
}

h1, h2 {
	margin-top: 10px;
	font-family: 'Raleway', sans-serif;
	font-size: 38px;
    font-weight: 300;
    color: #2ec4b6;
    line-height: 50px;
}

h3 {
	font-family: 'Montserrat', sans-serif;
	font-size: 22px;
    font-weight: 300;
    color: #ffbf69;
    line-height: 30px;
}

/***** Barra navegacion *****/

.navbar-toggler-icon {
	color: #fff;

}
.navbar {
	background: #ffbf69;
	padding:0;
	margin: 0;
}
.nav-item, .nav-link {
	color: white;
}
.nav-item:hover, .nav-link a:hover{
	background: white;
}

.navbar-nav { 
	font-size: 15px; 
	color: #fff; 
	font-weight: 600; 
	font-family: 'Raleway', sans-serif;}

.navbar-expand-md .navbar-nav .nav-link { 
	padding-left: 1rem; 
	padding-right: 1rem; }

.navbar-titulo {
	color: #fff;
	font-size: 25px;
	font-family: 'Raleway', sans-serif;
}

/***** Estilo general *****/

.section-container {
    margin: 0 auto;
    padding-bottom: 80px;
}

.section-container-gray-bg {
	background: #f8f8f8;
}

.section-container-image-bg, 
.section-container-image-bg h2, 
.section-container-image-bg h3 {
	color: #fff;
}

.section-container-image-bg .divider-1 span {
	border-color: #fff;
}

.section-description {
	margin-top: 60px;
    padding-bottom: 10px;
}

.section-description p {
    margin-top: 20px;
	padding: 0 120px;
}
.section-container-image-bg .section-description p {
	opacity: 0.8;
}

.section-bottom-button {
	padding-top: 60px;
}

/*Botones*/
.btn-link-1 {
	display: inline-block;
	height: 50px;
	margin: 0 5px;
	padding: 0 28px;
	background: #ffbf69;
	border: 0;
	font-size: 15px;
    font-weight: 600;
    line-height: 48px;
    color: #fff;
    border-radius: 4px;
    transition: all .3s;
}
.btn-link-1:hover, .btn-link-1:focus, .btn-link-1:active, .btn-link-1:active:focus,
.btn-link-1.btn-primary:not(:disabled):not(.disabled):active,
.btn-link-1.btn-primary:not(:disabled):not(.disabled):active:focus {
	background: #ffbf69;
	outline: 0;
	color: #fff;
	box-shadow: none;
}

.btn-link-2 {
	display: inline-block;
	height: 50px;
	margin: 0 5px;
	padding: 0 28px;
	background: #333;
	background: rgba(0, 0, 0, 0.2);
	border: 0;
	font-size: 15px;
    font-weight: 600;
    line-height: 48px;
    color: #fff;
    border-radius: 4px;
    transition: all .3s;
}
.btn-link-2:hover, .btn-link-2:focus, .btn-link-2:active, .btn-link-2:active:focus,
.btn-link-2.btn-primary:not(:disabled):not(.disabled):active,
.btn-link-2.btn-primary:not(:disabled):not(.disabled):active:focus {
	background: #333; background: rgba(0, 0, 0, 0.4); outline: 0; color: #fff; box-shadow: none;
}

.btn-link-3 {
	display: inline-block;
	height: 50px;
	margin: 0 5px;
	padding: 0 28px;
	background: none;
	border: 0;
	border-bottom: 2px solid #ffbf69;
	font-size: 15px;
    font-weight: 600;
    line-height: 48px;
    color: #ffbf69;
    border-radius: 0;
    transition: all .3s;
}
.btn-link-3:hover, .btn-link-3:focus, .btn-link-3:active, .btn-link-3:active:focus,
.btn-link-3.btn-primary:not(:disabled):not(.disabled):active,
.btn-link-3.btn-primary:not(:disabled):not(.disabled):active:focus {
	padding: 0 10px;
	background: none;
	border: 0;
	border-bottom: 2px solid #ffbf69;
	outline: 0;
	color: #ffbf69;
	box-shadow: none;
}

.medium-paragraph {
	font-size: 17px;
	line-height: 32px;
}

.colored-text { color: #ffbf69; }

::-moz-selection { background: #ffbf69; color: #fff; text-shadow: none; }
::selection { background: #ffbf69; color: #fff; text-shadow: none; }



/***** Divider *****/

.divider-1 span {
	display: inline-block;
	width: 200px;
	border-bottom: 1px dashed #ccc;
}

/**** Carrusel ****/
.carousel-inner{
}
.carousel-inner.header img{
	width: 100%;
	height: auto;
}

.carousel-item.header{
	transition: 0.5s;
	
}


/***** Encabezado *****/

.container-bg{
	background-color: #f8f8f8;
	padding-top: 200px;
	padding-bottom: 200px;
	margin-left: 0%;
	margin-right: 0%;

}

.encabezado{
    padding-top: 210px;
	width: 100vw;
}

.top-content .text {
	color: #fff;
}

.top-content .text h1 {
	margin-top: 25px;
	color: #fff;
}

.top-content .description {
	margin: 30px 0 10px 0;
}

.top-content .description p { opacity: 0.8; }

.top-content .top-big-link {
	margin-top: 45px;
}

/***** Categorias *****/

.portada-categorias{
	size: 10vw;
	border-radius: 30px;
	padding: 20px;
}
.categorias-box {
	padding-top: 30px;
	margin-top: 30px;
	text-align: left;
}

.categorias-box .categorias-box-icon {
	width: 80px;
	height: 80px;
	margin: 0 auto;
    font-size: 40px;
    color: #fff;
    line-height: 80px;
    text-align: center;
    border-radius: 28px;
    background: #ffbf69;
}

.categorias-box h3 {
	margin-top: 0;
	padding: 0 0 10px 0;
}


/***** Nosotros *****/

.nosotros-box {
	margin-top: 100px;
}

.nosotros-box-text {
	padding-right: 30px;
	text-align: left;
}

.nosotros-box-text h3 {
	margin-top: 0;
}

.nosotros-box-text .medium-paragraph {
	margin-top: 20px;
	margin-bottom: 20px;
}

.nosotros-box-text a { border-bottom: 1px dashed #ffbf69; }
.nosotros-box-text a:hover, .nosotros-box-text a:focus { border: 0; }

.nosotros-box-img img {
	border-radius: 4px;
}


/***** More services *****/

.more-categorias-box {
	margin-top: 30px;
	text-align: left;
}

.more-categorias-box .more-categorias-box-icon {
	width: 60px;
	height: 60px;
	margin: 0 auto;
    font-size: 28px;
    color: #fff;
    line-height: 60px;
    text-align: center;
    border-radius: 22px;
    background: #ffbf69;
}

.more-categorias-box h3 {
	margin-top: 0;
	padding: 0 0 10px 0;
}


/***** Call to action *****/

.call-to-action-container .section-bottom-button {
	padding-top: 30px;
}


/***** Carrousel *****/

.carousel-item{
    height: 500px;

}

/***** Footer *****/

footer {
	padding: 40px 0 0 0;
	background: #2ec4b6;
	color: #fff;
	text-align: left;
	flex-shrink: 0;
}
.footer-link{
	color:#ffbf69;
	font-weight: bold;
	
}

.footer-left a { color: #ddd; border-bottom: 1px dashed #ddd; }
.footer-left a:hover, .footer-left a:focus { color: #ddd; border: 0; }
.footer-left img{
	width: 50%;
	display: block;
	margin-left: auto;
	margin-right: auto;}

.footer-right {
	text-align: center;
}

.footer-right a {
	margin: 0 20px;
    font-size: 32px;
    color: #ddd;
	margin-left: auto;	
}
.footer-right a:hover, .footer-right a:focus { color: #eee; }

.footer-bottom {
	padding-bottom: 25px;
	text-align: center;
}

.footer-bottom a {
	font-size: 32px;
    color: #fff;
    line-height: 40px;
}

.footer-bottom a:hover, .footer-bottom a:focus { 
	
	color: #cbf3f0; 
    border: 0;
}
/***** Estilos de Tarjetas  *****/

.container-fluid,
.container {
    max-width: 1200px;
}

.card-container {
    padding: 100px 0px;
    -webkit-perspective: 1000;
    perspective: 1000;
}

.profile-card-2 {
    max-width: 300px;
    background-color: #FFF;
    box-shadow: 0px 0px 25px rgba(0, 0, 0, 0.1);
    background-position: center;
    overflow: hidden;
    position: relative;
    margin: 10px auto;
    cursor: pointer;
    border-radius: 10px;
}

.profile-card-2 img {
    transition: all linear 0.25s;
    height: 500px;
    
}

.profile-card-2 .profile-name {
    position: absolute;
    left: 30px;
    bottom: 70px;
    font-size: 30px;
    color: #FFF;
    text-shadow: 0px 0px 20px rgba(0, 0, 0, 0.5);
    font-weight: bold;
    transition: all linear 0.25s;
}

.profile-card-2 .profile-icons {
    position: absolute;
    bottom: 10px;
    right: 20px;
    color: #FFF;
    transition: all linear 0.25s;
}

.profile-card-2 .profile-username {
    position: absolute;
    bottom: 50px;
    left: 30px;
    color: #FFF;
    font-size: 13px;
    transition: all linear 0.25s;
}

.profile-card-2 .profile-icons .fa {
    margin: 5px;
}

.profile-card-2:hover img {
    filter: grayscale(100%);
}

.profile-card-2:hover .profile-name {
    bottom: 80px;
}

.profile-card-2:hover .profile-username {
    bottom: 60px;
}

.profile-card-2:hover .profile-icons {
    right: 40px;
}
.profile-card-2 #precios 
{
	left: 10px;
}
/***** Estilos de Tarjetas Descripcion *****/


.emp-tarjeta {
    border: 1.25px solid #0d0d0e;

    padding: 3%;
    margin-top: 3%;
    margin-bottom: 3%;
    border-radius: 0.5rem;
    background: #fff;
}

.nav-tabs .nav-link {
	color: black;
	
}
#resumen .row{
	margin: auto;
}

.tab-content>.active {
	text-align: left;	
}

.nav-tabs .nav-link:hover
{
	color: #ffbf69;
}

